{% extends "store/base.html" %}

{% include "store/navbar.html" %}

{% block title %}Cart Summary{% endblock title %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">WWelcome to Django Ecommerce</p>
        </div>
    </div>
    
</header>
<br>
<div class="container">
      <div class="row">
        <div class="col-8">
          <center>
            <p align="justify" style="justify-content: center;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nostrum laboriosam, nisi temporibus non alias at ad veritatis, commodi accusamus molestiae, asperiores rem sequi tempore sit sapiente possimus accusantium? Ducimus? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam quae rem repellendus, laudantium quam iure, mollitia dolorem quod voluptatem beatae culpa laborum in similique reprehenderit necessitatibus cupiditate architecto unde? Sint. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti sunt quis neque. Ea ratione, porro aspernatur a minus in quas, impedit rem, optio itaque reprehenderit officia dicta! Omnis, rerum quos.
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit tempora quod velit temporibus nihil distinctio, minima sequi maxime minus asperiores perferendis atque doloremque, recusandae blanditiis facere! Necessitatibus cupiditate obcaecati illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, maiores! Quod, dolorem sapiente nesciunt facere dolores rem laborum dolor vel, saepe voluptas necessitatibus? Quae corporis, consequatur eveniet quia nihil vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, corporis amet. Tenetur quis perspiciatis quibusdam itaque, aliquam dolore dicta aliquid, minima ipsa quas maxime? Ex asperiores adipisci esse fugiat? Vero.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste labore, repellat voluptatibus culpa amet nam sed animi, quam modi, consequuntur vitae? Sed optio cupiditate alias nobis ab vel itaque dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ut fugiat unde commodi reprehenderit expedita tempore quas ea voluptatum doloribus, praesentium quia quaerat numquam delectus inventore. Iste nam recusandae voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam rem eius sapiente ea earum unde suscipit eos iusto. Praesentium accusamus molestias similique, velit ratione quibusdam omnis ullam delectus nisi doloribus.
          </p>
          </center>
          
          <br><br>
        </div>
      </div>
    </div>
{% endblock content %}

